<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
  		<meta name="description" content="Primeira avaliação de DS web">
  		<meta name="keywords" content="HTML, CSS, JavaScript">
  		<meta name="author" content="Vitor G. Dantas and Wanderson G.">
  		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>Sobre</title>
		<link rel="icon" type="image/ico" href="../src/icon.png">
		<link rel="stylesheet" href="../styles/styles.css">
		<link rel="stylesheet" href="../libs/bootstrap.css">
	</head>
	<body style="background-color: #7f8c8d">
		<div class="topolang" align="right">
			<img alt="EN-US" src="https://i.imgur.com/QqtGoQ4.gif" width="15" height="10"/>EN-US
			<img alt="PT-BR" src="https://i.imgur.com/3fl9Sfi.gif" width="15" height="10"/>PT-BR
		</div>
		<center>
		<nav>
			<div class="menu">
				<h1 style="font-weight: bold; color: #0984e3;">CodeSimple - Primeira Avalição de DSNWEB</h1>
				<a href="../index.html" style="text-decoration-line: none">Principal</a>
				<a href="../index.html#noticia" style="text-decoration-line: none">Noticias</a>
				<a href="#sobre" style="text-decoration-line: none">Sobre</a>
			</div>
		</nav>
		<div class="sobre" id="sobre" align="left">
			<h1 style="font-weight: bold; font-style: italic">Sobre o Projeto</h1>
			<p style="font-size: 20px">Este blog foi projetado para avaliação de obtenção de nota na disciplina de Desenvolvimento de Softwares para Rede de computadores e Web. O "Código Simples" estará hospedado no respositório de um dos densenvolvedores e sempre ficará disponivel <a href="https://github.com/r0t1v/AvalationOneDSweb" target="blank" style="text-decoration-line: none; color: #3c40c6">aqui</a>. A source desse projeto foi idealizada como simples, porém de forma que agregasse todo conteudo pedido e permitisse uma navegação fluida por parte dos usuários assim como a retirada de processamento desnecessária.</p>
			<hr>
		</div>
		<div class="apresentation">
			<h1 style="font-weight: bold">Desenvolvedores</h1>
			<div class="container">
  				<div class="row">
    				<div class="col-sm">
						<div class="card" style="width: 85%">
							<center>
								<img src="../src/perfil.png" id="perfil" class="card-img-top" alt="perfil dev1">
							</center>
							<div class="card-body">
							  	<h5 class="card-title">Vitor 'r0t1v/dikdama' Gabriel</h5>
							    <p class="card-text">Desenvolvedor/Contribuidor & Host do projeto. Acadêmico de Engenharia de Computação da UFPA. Turma 2017.4</p>
							    <a href="https://github.com/r0t1v/r0t1v" target="blank" class="btn btn-primary">URL</a>
							</div>
						</div>
					</div>
					<div class="col-sm">
						<div class="card" style="width: 85%">
							<center>
						  		<img src="../src/perfil.png" id="perfil" class="card-img-top" alt="perfil dev1">
						  	</center>
						  <div class="card-body">
						    <h5 class="card-title">Wanderson 'wanderson-gomes' Gomes</h5>
						    <p class="card-text">Desenvolvedor/Contribuidor do projeto. Acadêmico de Engenharia de Computação da UFPA. Turma 2017.4</p>
						    <a href="https://github.com/wanderson-gomes" target="blank" class="btn btn-primary">URL</a>
						  </div>
						</div>
				  </div>
  				</div>
			</div>
			<h2 style="font-weight: bold" align="left">Entre em contato</h2>
			<div class="alert alert-secondary" role="alert">Qualquer dúvida sobre o projeto pode mandar para a inbox <a href="mailto:development@codesimple.com.br" class="alert-link">devs@codesimple.com.br</a>.
			</div>
			<h2 style="font-weight: bold" align="left">ou Também deixe sua mensagem</h2>
			<h3 style="font-weight: bold" align="left">Logue com:
			<button type="button" id="facebook" class="btn btn-primary"><img src="../src/faceicon.png" class="img-fluid" alt="iconface"></button>
			<button type="button" id="twitter" class="btn btn-primary"><img src="../src/twicon.png" class="img-fluid" alt="icontw"></button>
			<button type="button" id="pinterest" class="btn btn-primary"><img src="../src/pinticon.png" class="img-fluid" alt="iconface"></button>
			<button type="button" id="google" class="btn btn-primary"><img src="../src/gicon.png" class="img-fluid" alt="iconface"></button>
			</h3>
			<div class="form" align="left">
				<form action="about.html" method="post">
				<label for="nome" class="form-label">Nome</label>
			  	<input type="text" class="form-control" id="nome" placeholder="Fulano de tal" required="">
			  	<label for="email" class="form-label">Email</label>
			  	<input type="email" class="form-control" id="email" placeholder="seuemail@email.com" required>
			  	<label for="comentario" class="form-label">Mensagem</label>
			  	<textarea class="form-control" id="comentario" rows="3" required></textarea>
			  	<input type="submit" class="btn btn-primary" style="margin-top:15px"></input>
			  	</form>
			  </div>
		</center>
		<footer>
			<div class="final">
				<center>
					<div class="row align-items-center">
						<div class="col">
							<span id="logofinal">CodeSimple</span>
						</div>
						<div class="col">
						    <dl>
								<dt>Conteudo</dt>
								<hr>
								<dd><a href="../index.html" style="text-decoration-line: none; color: #2d3436">Principal</a></dd>
								<dd><a href="../index.html#noticia" style="text-decoration-line: none; color: #2d3436">Noticias</a></dd>
								<dt>Contato</dt>
								<hr>
								<dd><a href="#sobre" style="text-decoration-line: none; color: #2d3436">Sobre</a></dd>
							</dl>
						</div>
				  	</div>
				No Copyrights 2021.
				</center>
			</div>
		</footer>
		<script type="text/javascript" src="../libs/bootstrap.js"></script>
		<script type="text/javascript" src="../libs/jquery-3.6.0.min.js"></script>
	</body>
</html>