<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
  		<meta name="description" content="Primeira avaliação de DS web">
  		<meta name="keywords" content="HTML, CSS, JavaScript">
  		<meta name="author" content="Vitor G. Dantas and Wanderson G.">
  		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>Notícia 5</title>
		<link rel="icon" type="image/ico" href="../src/icon.png">
		<link rel="stylesheet" href="../styles/styles.css">
		<link rel="stylesheet" href="../libs/bootstrap.css">
	</head>
	<body style="background-color: #7f8c8d">
		<div class="topolang" align="right">
			<img alt="EN-US" src="https://i.imgur.com/QqtGoQ4.gif" width="15" height="10"/>EN-US
			<img alt="PT-BR" src="https://i.imgur.com/3fl9Sfi.gif" width="15" height="10"/>PT-BR
		</div>
		<center>
		<nav>
			<div class="menu">
				<h1 style="font-weight: bold; color: #0984e3;">CodeSimple - Primeira Avalição de DSNWEB</h1>
				<a href="../index.html" style="text-decoration-line: none">Principal</a>
				<a href="../index.html#noticia" style="text-decoration-line: none">Noticias</a>
				<a href="about.html" style="text-decoration-line: none">Sobre</a>
			</div>
		</nav>
		<div class="pag" id="pag">
			<h1 style="font-weight: bold; font-style: italic">Notícia 5</h1>
			<hr>
			<img src="../src/slide5.png" class="img-fluid" alt="noticia">
			<p style="font-size: 20px; margin: 20px" align="left">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Erat imperdiet sed euismod nisi porta lorem mollis aliquam ut. Lectus urna duis convallis convallis tellus id interdum. Quis enim lobortis scelerisque fermentum. Facilisi morbi tempus iaculis urna id volutpat lacus laoreet non. Quis eleifend quam adipiscing vitae proin. Arcu ac tortor dignissim convallis aenean et tortor at. Feugiat pretium nibh ipsum consequat nisl vel pretium. Commodo elit at imperdiet dui accumsan sit amet. Consectetur lorem donec massa sapien faucibus et. Posuere morbi leo urna molestie at elementum. Sit amet porttitor eget dolor morbi non. Ut diam quam nulla porttitor. Condimentum lacinia quis vel eros donec ac odio tempor. Id interdum velit laoreet id donec ultrices tincidunt arcu non.</p>
			<p style="font-size: 20px; margin: 20px" align="right">
			Urna porttitor rhoncus dolor purus non. Ultrices in iaculis nunc sed augue lacus viverra vitae. Sed lectus vestibulum mattis ullamcorper velit sed. Viverra orci sagittis eu volutpat odio. Sit amet consectetur adipiscing elit ut aliquam purus sit. Sit amet dictum sit amet justo donec enim. Sed vulputate mi sit amet mauris. Feugiat nisl pretium fusce id velit. Nunc eget lorem dolor sed viverra ipsum nunc aliquet. Nulla posuere sollicitudin aliquam ultrices sagittis orci a scelerisque. Varius quam quisque id diam. Egestas tellus rutrum tellus pellentesque eu tincidunt tortor aliquam nulla.
			</p>
		</div>
		<hr>
		<div class="comentarios" align="left">
			<h4 style="font-weight: bold" align="left">Comente com:
			<button type="button" id="facebook" class="btn btn-primary"><img src="../src/faceicon.png" class="img-fluid" alt="iconface"></button>
			<button type="button" id="twitter" class="btn btn-primary"><img src="../src/twicon.png" class="img-fluid" alt="icontw"></button>
			<button type="button" id="pinterest" class="btn btn-primary"><img src="../src/pinticon.png" class="img-fluid" alt="iconface"></button>
			<button type="button" id="google" class="btn btn-primary"><img src="../src/gicon.png" class="img-fluid" alt="iconface"></button>
			</h4>
			<textarea class="form-control" id="comentario" rows="3" required></textarea>
			<input type="submit" class="btn btn-primary" style="margin-top:15px"></input>
		</div>
		<nav class="paginas">
			  <ul class="pagination justify-content-center">
			    <li class="page-item"><a class="page-link" href="pag4.html">Anterior</a></li>
			    <li class="page-item active"><a class="page-link" href="#pag">5</a></li>
			    <li class="page-item"><a class="page-link" href="pag6.html">6</a></li>
			    <li class="page-item"><a class="page-link" href="pag7.html">7</a></li>
			    <li class="page-item"><a class="page-link" href="pag6.html">Próximo</a></li>
			  </ul>
			</nav>
		</center>
		<footer>
			<div class="final">
				<center>
					<div class="row align-items-center">
						<div class="col">
							<span id="logofinal">CodeSimple</span>
						</div>
						<div class="col">
						    <dl>
								<dt>Conteudo</dt>
								<hr>
								<dd><a href="../index.html" style="text-decoration-line: none; color: #2d3436">Principal</a></dd>
								<dd><a href="../index.html#noticia" style="text-decoration-line: none; color: #2d3436">Noticias</a></dd>
								<dt>Contato</dt>
								<hr>
								<dd><a href="about.html" style="text-decoration-line: none; color: #2d3436">Sobre</a></dd>
							</dl>
						</div>
				  	</div>
				No Copyrights 2021.
				</center>
			</div>
		</footer>
		<script type="text/javascript" src="../libs/bootstrap.js"></script>
		<script type="text/javascript" src="../libs/jquery-3.6.0.min.js"></script>
	</body>
</html>