{% extends "base.html" %}
{% load static %}
{% block title %} {{ title}} {% endblock %}
{% block body %}
		<center>
		<div class="pag" id="pag">
			<h1 style="font-weight: bold; font-style: italic">Notícia 9</h1>
			<hr>
			<img src="{% static 'img/slide9.png' %}" class="img-fluid" alt="noticia">
			<p style="font-size: 20px; margin: 20px" align="left">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Erat imperdiet sed euismod nisi porta lorem mollis aliquam ut. Lectus urna duis convallis convallis tellus id interdum. Quis enim lobortis scelerisque fermentum. Facilisi morbi tempus iaculis urna id volutpat lacus laoreet non. Quis eleifend quam adipiscing vitae proin. Arcu ac tortor dignissim convallis aenean et tortor at. Feugiat pretium nibh ipsum consequat nisl vel pretium. Commodo elit at imperdiet dui accumsan sit amet. Consectetur lorem donec massa sapien faucibus et. Posuere morbi leo urna molestie at elementum. Sit amet porttitor eget dolor morbi non. Ut diam quam nulla porttitor. Condimentum lacinia quis vel eros donec ac odio tempor. Id interdum velit laoreet id donec ultrices tincidunt arcu non.</p>
			<p style="font-size: 20px; margin: 20px" align="right">
			Urna porttitor rhoncus dolor purus non. Ultrices in iaculis nunc sed augue lacus viverra vitae. Sed lectus vestibulum mattis ullamcorper velit sed. Viverra orci sagittis eu volutpat odio. Sit amet consectetur adipiscing elit ut aliquam purus sit. Sit amet dictum sit amet justo donec enim. Sed vulputate mi sit amet mauris. Feugiat nisl pretium fusce id velit. Nunc eget lorem dolor sed viverra ipsum nunc aliquet. Nulla posuere sollicitudin aliquam ultrices sagittis orci a scelerisque. Varius quam quisque id diam. Egestas tellus rutrum tellus pellentesque eu tincidunt tortor aliquam nulla.
			</p>
		</div>
		<nav class="paginas">
			  <ul class="pagination justify-content-center">
			    <li class="page-item"><a class="page-link" href="{% url 'pag8'%}">Anterior</a></li>
			    <li class="page-item"><a class="page-link" href="{% url 'pag8'%}">8</a></li>
			    <li class="page-item active"><a class="page-link" href="#pag">9</a></li>
			    <li class="page-item"><a class="page-link" href="{% url 'pag10'%}">10</a></li>
			    <li class="page-item"><a class="page-link" href="{% url 'pag10'%}">Próximo</a></li>
			  </ul>
			</nav>
		</center>
		{% endblock %}	